/* Hey there, if you're reading this and want to look at the code more in-depth, I have it all
 * hosted on my GitHub at https://github.com/vimlena/celebrityduis so feel free to check it out
 * there! Thanks for looking at the source code btw, I'm glad you took the time to look into it.
 * - Vim <3
 */

* {
    box-sizing: border-box;
}

body {
    background-image: url(../img/background-tile.jpg);
    background-repeat: repeat;
    font-family: "Inconsolata LGC", "Consolas", "Coutier New", "Courier", monospace;
    margin: 0 auto;
    text-align: left;
}

.homepage-links,
.mp3-list-item {
    font-size: 36px;
}

img {
    max-width: 100%;
}

header {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: flex-start;
}

.first-header-row {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    gap: 15px;
    padding: 20px 15px 0 15px;
}

.congratulations-you-won-img,
.music-link-list,
.visitor-count-img,
.second-header-row {
    padding: 0 15px 20px 15px;
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.band-mugshots-row {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    gap: 10px;
    justify-content: center;
    padding: 0 15px 20px 15px;
}

.duis-row,
.mp3s-row {
    align-items: center;
    display: flex;
    gap: 15px;
    padding: 0 15px 20px 15px;
}

.rainbow-heart {
    display: inline;
}

/* Fonts */

@font-face {
    font-display: swap;
    font-family: "Inconsolata LGC";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Inconsolata-LGC.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Inconsolata LGC";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Inconsolata-LGC-Bold.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Inconsolata LGC";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/Inconsolata-LGC-Italic.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Inconsolata LGC";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/Inconsolata-LGC-BoldItalic.woff2") format("woff2");
}
